body{
    background-color:#26333D;
    color: white;
    width: 200;
    height: 930px;
    border: white;
    border-style: solid;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

header{
    width: 95vw;
    height: 200px;
    border: white;
    border-style: solid;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-top: -600px;
    margin-left: 60px; 
}
nav{
    width: 10vw;
    height: 70;
    border: red;
    border-style: solid;
    margin-left: 80vw;
}


