html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    background-color: rgb(219, 223, 223);
    width: 50%;
    height: 70% ;
    border: 0.1px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cfrm-login{
    width: 60%;
    height: 40%;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.ctxt{
    width: 90%;
    min-width: 90%;
    max-width: 100%;
    height: 80%;
    min-height: 10%;
    border:0.1px;
    border-style: solid;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cmargin{
    /* background-color: yellowgreen; */
    margin: 1px;
    margin-right: 10px;
    width: 97%;
    min-width: 97%;
    height: 10%;
    display: flex;
    justify-items: center;
    align-items: center;
}