
body {
    margin: 0;
    background-color: #26333D;
    color: white;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header"
        "main"
        "footer";
}


header {
    grid-area: header;

    border: 1px solid #fff;
    padding: 20px;

    display: grid;
    place-items: center;
}

nav {
    border: 1px solid #fff;
    padding: 10px;
}


main {
    grid-area: main;

    border: 1px solid #fff;
    padding: 20px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "section aside";
    gap: 20px;
}

section {
    grid-area: section;

    border: 1px solid #fff;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

article {
    border: 1px solid #fff;
    padding: 20px;
}

aside {
    grid-area: aside;

    border: 1px solid #fff;
    padding: 20px;

    display: grid;
    place-items: center;
}


footer {
    grid-area: footer;

    border: 1px solid #fff;
    padding: 20px;

    display: grid;
    place-items: center;
}
